.App {
  flex-direction: row;
  display: flex;
}
.app-container {
  height: 100vh;
  width: 60%;
}

.debugging-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: burlywood;
}

.sample-app-container {
  width: 300px;
  margin-top: 1rem;
}
