.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.app-container {
  padding-left: 1rem;
}

.authenticator-container {
  margin-top: 1rem;
  place-self: unset !important;
}

.sample-app-container {
  width: 600px;
  margin-top: 1rem;
}

.login-container {
  margin-bottom: 3rem;
}
